body{
    background-color: orangered;
}
h2{
    font-family: 'Akaya Telivigala', cursive;
}
h1{
    margin: auto;
    
    font-family: BlinkMacSystemFont,  sans-serif;
}   
header p{
    font-family: ;
}
header p strong{
    color: darkorange;
}
hr{
    color: rgb(0, 0, 0);
}
ul li p span{
    font-weight: bold;
    text-transform: uppercase;
}
ul li p{
    text-transform: capitalize;
}

.hover {
    text-decoration: none;
}

.hover:hover {
    background-color: white;
}